@model StudentPortal.Models.AddCourseViewModel;
@if (TempData["Successmessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"];
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
}
<h1>Add Courses </h1>
<form method="post" > 
    <div class="container mt-3">
        <label class="form-label">Course Name </label>
        <input type="text" class="form-control" asp-for="CourseName"/>
    </div>
    <div class="container mt-3">
        <label class="form-label">Course Code </label>
        <input type="text" class="form-control" asp-for="CourseCode" />
    </div>
    <div class="container mt-3">
        <label class="form-label">Course Credit </label>
        <input type="text" class="form-control" asp-for="Credit" />
    </div>
    <div class="mt-3"> 
        <button type="submit" class="btn btn-outline-secondary" >
            Save 
        </button>

    </div>
</form>